<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo">
    <app-logo></app-logo>
  </div>
  <form>    
    <ion-list>
      <ion-item>
        <ion-label position="floating" color="medium">Email</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" color="medium">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item><br>
        <ion-button type="submit" expand="full" shape="round" (click)="login()">Login</ion-button>
        <ion-item lines="none">
          Forgot Password &nbsp;<a>click here</a>
        </ion-item>
    </ion-list>
  </form>
</ion-content>