<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Status
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>Date</ion-col>
      <ion-col>Login</ion-col>
      <ion-col>Logout</ion-col>
    </ion-row>
    <ion-row *ngFor="let item of LoginStatus">
      <ion-col>{{item.date}}</ion-col>
      <ion-col>{{item.login}}</ion-col>
      <ion-col>{{item.logout}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>