h6{
    text-align: center
}
.employee{
    padding: 50% 10%;
    display: block;
    h2{
        font-size: 30px;
        text-align: center;
        color:#5260ff;
        font-weight: bold;
    }
}